//
// Theme
// --------------------------------------------------
/* Body */
body {
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 1020px;
}
::selection {
	background-color: @brand-info;
	color: #FFF;
}
a {
	&:hover {
		text-decoration: none;
	}
}
label {
	font-weight: normal;
}
.panel {
  .box-shadow (0 0 10px rgba(0, 0, 0, 0.4));
}
.panel-primary-body {
	background-color: lighten(@brand-primary, 3%);
}
.panel-primary {
	& > .panel-header {
		& > a {
			color: #FFF;
		}
	}
	& > .panel-footer {
		background-color: darken(@brand-primary, 3%);
		border-top-color: darken(@brand-primary, 10%);
	}
}
/* Sidebar controls */
.col-xs-sidebar {
	.btn-group-vertical {
		.btn.active {
			color: @brand-info;
		}
	}
}
/* Text */
.text-muted {
  &:hover {
    text-decoration: none;
  }
}
.text-white {
	color: #FFF;

	a&:hover,
	a&:active,
	a&:focus {
		color: rgba(255, 255, 255, 0.5);
		text-decoration: none;
	}
}
.text-success-light {
  color: @brand-success-light;

  a &:hover {
		color: darken(@brand-success-light, 10%);
	}
}
.text-success-dark {
  color: @brand-success-dark;
}
.text-info-light {
  color: @brand-info-light;
}
.text-info-dark {
  color: @brand-info-dark;
}
.text-primary {
  color: @brand-primary;
}
.text-primary-light {
  color: @brand-primary-light;
}
.text-primary-dark {
  color: @brand-primary-dark;
}
.text-warning-light {
  color: @brand-warning-light;
}
.text-warning-dark {
  color: @brand-warning-dark;
}
.text-danger-light {
  color: @brand-danger-light;
}
.text-danger-dark {
  color: @brand-danger-dark;
}
.text-inverse {
  color: @brand-inverse;
}
.text-inverse-inverse {
  color: @brand-inverse-light;
}
.text-inverse-inverse {
  color: @brand-inverse-dark;
}

/* Buttons */
.btn-controls {
	white-space: nowrap;

	& > a {
		span {
			.box-shadow (0 0 3px rgba(0, 0, 0, 0.5));
			border-radius: 99%;
		}

		&:hover {
			text-decoration: none;
		}
	}
}
.btn-none {
  &,
  &:hover,
  &:focus,
  &:active {
    border: 0;
    background: transparent;
    outline: 0;
    .box-shadow (none);
    color: lighten(@btn-default-color, 30%);
  }
  &:hover {
    color: lighten(@btn-default-color, 20%);
  }
}
.btn-trans {
  &,
  &:hover,
  &:focus,
  &:active {
    border: 0;
    background: rgba(0, 0, 0, 0.15);
  }
  &:hover {
    color: lighten(@btn-default-color, 20%);
  }
}
.btn-round {
  border-radius: 20px;
  padding: 3px 6px;
}
.btn-inverse {
  .button-variant(#FFF; @brand-inverse; @brand-inverse-dark);
}
/* Header */
.header {
  .box-shadow (0 4px 0 rgba(0, 0, 0, 0.1));

  a {
    color: @brand-toupe;
  }
  .btn-trans:hover {
    color: lighten(@brand-toupe, 10%);
  }
  .h4 {
    font-weight: 200;
    line-height: 1.5;
  }
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }

  &.header-sidebar {
    border-top-left-radius: 10px;
    .box-shadow (~"0 4px 0 rgba(0, 0, 0, 0.1), -3px -3px 0 #31302e");
  }
  &.header-aside {
    border-top-right-radius: 10px;
    .box-shadow (~"0 4px 0 rgba(0, 0, 0, 0.1), 3px -3px 0 #31302e");
  }
  &.active {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    .box-shadow (~"0 4px 0 rgba(0, 0, 0, 0.1), 3px -3px 0 rgba(0, 0, 0, 0.1), -3px -3px 0 rgba(0, 0, 0, 0.1)");
  }
  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3) {
    .box-shadow (~"3px -3px 0 rgba(0, 0, 0, 0.1), -3px -3px 0 rgba(0, 0, 0, 0.1)");
  }
}
/* Sidebar */
.sidebar,
.aside {
  background-color: darken(@navbar-inverse-bg, 10%);

  hr {
    border-top-color: darken(@navbar-inverse-bg, 15%);
  }

  & > ul > li > a {
    color: @brand-toupe;

    &:hover {
      background-color: darken(@navbar-inverse-bg, 2%);
    }
  }
  & > ul > li.active > a {
    &, &:hover {
      background-color: darken(@navbar-inverse-bg, 15%);
      color: #FFF;
    }
  }
  .sidebar-brand {
    font-size: 24px;
    font-family: "Open Sans Light";

    &:hover {
      text-decoration: none;
    }
  }
  .nav-heading {
    color: #FFF;
  }

  a {
    color: @brand-toupe;
  }
  & > ul.tags > li > a {
    color: @text-color;
  }
}
.sidebar {
  .nav {
    text-transform: uppercase;
  }
}
/* Navbar Bottom */
.navbar-fixed-bottom {
  .box-shadow (0 -3px 0 rgba(0, 0, 0, 0.03));
}
/* Media */
.media-text {
  color: lighten(@gray, 16%);
  font-size: 13px;
}
.media-heading {
  font-weight: 500;
}
/* Event */
.media-event {
  border: 1px solid @gray-lighter;
  background-color: lighten(@gray-lighter, 20%);
}
/* Textarea */
.magic-box {
  .box-shadow (none);
  background-color: lighten(@gray-lighter, 25%);
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  z-index: 3;
}
/* Thumbnail */
.thumbnail {
 
}
/* Image Circle (Avatar) */
.img-circle {
	border-style: solid;

	&.media-object {
		border-width: 1px;
		padding: 1px;
	}

	&.img-user {
		border-width: 2px;
		padding: 2px;
	}
	
	&.img-default {
		border-color: @gray-lighter;
	}
	&.img-available {
		border-color: @brand-info;
	}
	&.img-active {
		border-color: @brand-success;
	}
}
/* List Group */
.list-group-item-tall {
    padding-top: 20px;
    padding-bottom: 20px;
  }
.list-group-striped {
  > .list-group-item:nth-child(odd) {
    background-color: lighten(@list-group-bg, 2%);
  }
  > a.list-group-item:nth-child(odd):hover,
  > a.list-group-item:nth-child(odd):focus {
    text-decoration: none;
    background-color: @list-group-hover-bg;
  }
}
/* Panels */
.panel-title {
  text-transform: uppercase;
}
.panel-inverse {
  .panel-variant(@brand-inverse-dark; #FFF; @brand-inverse; @brand-inverse-dark);

  .panel-body {

  }

  .panel-footer {
  	background-color: @brand-inverse;
  	border-top-color: @brand-inverse-dark;
  }
}
/* Panel Avatar */
.panel-avatar {
  position: relative;
  overflow: hidden;

  .icon-cog {
    color: #FFF;
    position: absolute;
    left: 13px;
    top: -4px;
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    .opacity (0);
    .transition (all 0.4s ease-in-out);
  }
  img {
    .transition (all 0.4s ease-in-out);
  }
  &:hover {
    .icon-cog {
      transform:rotateY(0deg);
      -webkit-transform:rotateY(0deg);
      .opacity (1);
      z-index: 1;
    }
    img {
      transform:rotateY(180deg);
      -webkit-transform:rotateY(180deg);
      .opacity (0.5);
    }
  }
}
/* Sortable */
.ui-state-default {
  .panel-heading {
    &:hover {
      cursor: move;
    }
  }
}
/* Forms */
.form-control {
  .box-shadow (none);
}
.input-xs {
  .input-size(@input-height-small - 10; @padding-small-vertical - 2; @padding-small-horizontal - 2; @font-size-small - 2; @line-height-small - 10; @border-radius-small);
}
/* iCheckbox */
.text-center > [class*="icheckbox"] {
  margin: 0 auto;
}
.text-checked {
	text-decoration: line-through;
}
// Reveal Item On Hover
.reveal-hover {
	visibility: hidden;
	.opacity (0);
	.transition (all 0.25s linear);

	*:hover > & {
		visibility: visible;
		.opacity (1);
	}
}
/* List Users */
.list-users {
  img {
    .box-shadow (0 0 0 0 @brand-success);
    -webkit-filter: sepia(50%);
    .transition (all 0.25s linear);
  }
  .active {
    color: @brand-success;

    img {
      .box-shadow (0 0 3px 3px @brand-success);
      -webkit-filter: sepia(0%);
    }
  }
}
/* App Controls */
.btn-controls {
  & > .btn-group {
    & > a {
      & > span {
        position: relative;
        & > span {
          position: absolute;
          top: 2px;
          left: 2px;
          .opacity (0);

          &.icon-close {
            top: 0;
            left: 0;
          }
        }
      }
      *:hover > & > span > span {
        .opacity (0.4);
      }
    }
  }
}
/* Forms */
.form-horizontal .control-label {
  text-align: left;
}
.input-group-addon {
  border-radius: 0;
}
/* jQuery UI */
@-webkit-keyframes pulse {
	from { -webkit-box-shadow: 0 0 1px @brand-danger; }
	30% { -webkit-box-shadow: 0 0 1px @brand-danger; }
	50% { -webkit-box-shadow: 0 0 50px @brand-danger; }
	to { -webkit-box-shadow: 0 0 1px @brand-danger; }
}
.ui-sortable-helper {
	-webkit-animation: pulse 2s ease-in-out infinite alternate;
	-webkit-transition: -webkit-box-shadow 1s ease-in-out;
}
